.time-slider-container {
  position: absolute;
  bottom: 70px;
  left: calc(50% +300px); /* Default adjustment for the sidebar */
  transform: translateX(-50%);
  padding: 10px;
  z-index: 1000;
  width: 320px;
  /* background-color: aquamarine; */
  height: 40px;
  text-align: center;
  transition: bottom 0.3s ease, left 0.3s ease-in-out; /* Smooth transitions */
}

.time-slider-container.shift-up {
  bottom: 320px;
}

.time-slider-container.shift-down {
  bottom: 45px;
}

.time-slider-container.sidebar-open {
  left: calc(50% + 160px)
}

.time-slider-container.sidebar-closed {
  left: calc(50% + 20px); /* Adjust position when sidebar is closed */
}

.time-slider-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.time-slider-labels {
  padding-top: 0px;
  display: flex;
  justify-content: space-between; /* Push labels to opposite ends */
  width: 100%; /* Match the slider's width */
  margin-bottom: 8px; /* Add some space between labels and slider */
  width: 350px;
}

.start-year-label {
  font-size: 15px;
  color: #333;
  font-weight: bold;
  text-align: left; /* Align text to the left */
}

.end-year-label {
  font-size: 15px;
  color: #333;
  font-weight: bold;
  text-align: right; /* Align text to the right */
}
