.settings {
  padding: 10px; /* Add padding for the entire sidebar */
}

.settings-header {
  margin-bottom: 5px;
}

.settings-title {
  font-size: 15px;
  margin: 0;
  color: #333333;
  display: flex;
  align-items: center; /* Align icon and text vertically */
  gap: 4px; /* Space between icon and text */
}

.settings-icon {
  width: 20px;
  height: 20px;
}

.settings-buttons {
  display: flex; 
  flex-direction: column;
  justify-content: space-between; /* Space evenly between buttons */
  gap: 10px; /* Space between buttons */
  margin-top: 5px;
}

.reset-button,
.export-button {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align icon and text vertically */
  justify-content: center; /* Center the content horizontally */
  gap: 5px; /* Add spacing between the icon and the text */
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  width: 286px;
}

.reset-button {
  background-color: white;
  box-shadow: inset 0 0 0 2px #333333; /* Simulate inner border */
}

.export-button {
  background-color: #333333;
  color: white;
}

.reset-button:hover,
.export-button:hover {
  background-color: #909090; /* Hover effect */
}

.reset-button.active,
.export-button.active {
  background-color: #415ED3; /* Active state color */
  color: white;
}

.button-icon {
  width: 20px;
  height: 20px;
  fill: white; /* Ensure the icon matches the button color */
}
