.sidebar {
    width: 300px;
    background: rgba(255, 255, 255, 0.8); /* White with 80% transparency */
    color: #333;
    height: calc(100vh - 40px); /* Adjust height to detach from bottom */
    display: flex;
    flex-direction: column;
    transition: width 0.3s, left 0.3s, height 0.3s;
    position: absolute; /* Absolute positioning for control */
    transform: translateX(0); /* Default position */
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    left: 15px; /* Detach from the left edge */
    top: 15px; /* Detach from the top */
    bottom: 15px; /* Add bottom spacing */
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px; /* Optional: Add rounded corners */
    overflow: hidden; /* Ensure content stays inside the sidebar */
    padding: 5px;
    padding-right: 15px;
    padding-left: 8px;
    justify-content: space-between; /* Space items to pin settings to the bottom */

  }
  
  .sidebar h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  
  .sidebar.closed {
    width: 2px; /* Minimized width */
    
  }
  
  .sidebar-toggle-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: #ADADAD;
    width: 7px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
  }
  
  .toggle-btn:hover {
    background: #555;
  }
  
  /* .toggle-btn span {
    display: block;
    width: 4px;
    height: 20px;
    background: #ADADAD;
    border-radius: 2px;
  } */
  
  .sidebar-content {
    flex: 1;
    padding: 10px;
  }
  
  .action-buttons {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Add spacing between the buttons */
    margin-top: auto; /* Add spacing above the button group */
  }
  
  .grouped-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 18px; /* Add spacing between Tags, Source, and Settings */
    border-top: 1px solid #000000; /* Optional: Add a separator line */
  }