.subtopics {
    padding: 0px;
  }
  
  .subtopics-header {
    margin-bottom: 5px;
  }
  
  .subtopics-title {
    font-size: 15px;
    color: black;
    margin: 0; 
    display: flex;
    align-items: center;
    gap: 4px;
  }  
  
  .topic-icon {
    width: 20px; /* Adjust icon size */
    height: 20px;
  }

  .subtopics-placeholder {
    width: 100%; /* Full width of the container */
    height: 80px; /* Adjust height as needed */
    background-color: #e0e0e0; /* Light grey background */
    border-radius: 5px; /* Rounded corners */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
  }
  