.subtopics {
    padding-top: 30px;
  }
  
  .subtopics-header {
    margin-bottom: 5px;
  }
  
  .subtopics-title {
    font-size: 15px;
    color: #333333;
    margin: 0; 
    display: flex;
    align-items: center;
    gap: 4px;
  }  
  
  .topic-icon {
    width: 20px; /* Adjust icon size */
    height: 20px;
  }
  
  .subtopics-container {
    width: 100%; /* Full width of the container *//* Adjust height automatically based on content */
    background-color: transparent; /* Transparent background */
    border-radius: 10px; /* Rounded corners */
    display: flex; /* Flexbox layout */
    flex-wrap: wrap; /* Allow content to wrap to the next line */
    align-content: flex-start;
    gap: 10px; /* Add spacing between items */
    padding: 10px; /* Add padding around the content */
  }

  .subtopic-item {
    padding: 3px 7px; /* Add padding to individual subtopics */
    font-size: 12px; /* Adjust font size */
    color: #333333; /* Text color */
    background-color: white; /* Light background for subtopics */
    border: 2px solid #909090; /* Border for subtopics */
    border-radius: 20px; /* Rounded corners */
    white-space: nowrap; /* Prevent text from wrapping inside each subtopic */
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }
  
  .subtopic-item:hover {
    background-color: #EEEEEE;
    border-color: #909090; 
    cursor: pointer; /* Pointer cursor on hover */
  }


