.tag {
    padding: 0px; /* Add padding for spacing */
  }
  
  .tag-title {
    font-size: 15px; /* Adjust font size */
    margin-bottom: 10px; /* Space between title and buttons */
    color: #333333;
    text-align: left;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .topic-icon {
    width: 16x; /* Adjust icon size */
    height: 16px;
  }

  .tag-buttons {
    display: flex;
    justify-content: center; /* Align buttons to the center */
    gap: 8px; /* Space between buttons */
    margin-top: 5px;
  }
  
  .tag-button {
    display: flex;
    flex-direction: column; /* Stack text vertically */
    align-items: center; /* Center-align text */
    justify-content: center;
    gap: 5px; /* Space between lines */
    width: 90px; /* Fixed button width */
    height: 30px; /* Fixed button height */
    padding: 8px;
    background-color: #EEEEEE;
    color: #909090;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px; /* Text font size */
    font-weight: bold;
  }
  
  .tag-button:hover {
    background-color: #909090; /* Change hover background */
    color: white;
}

.tag-button.active {
    background-color: #415ED3; /* Change background color when active */
    color: white; /* Change text color when active */
  }