.topic {
  padding: 10px;
}

.topic-header {
  margin-bottom: 5px;
}

.topic-title {
  font-size: 15px;
  color: black;
  margin: 0;
}

.topic-placeholder {
  width: 100%; /* Full width of the container */
  height: 100px; /* Adjust height as needed */
  background-color: #e0e0e0; /* Light grey background */
  border-radius: 5px; /* Rounded corners */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}
