.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.sidebar-open .map {
  margin-left: 250px; /* Adjust based on your sidebar width */
}

.bottombar-open .map {
  margin-bottom: 100px; /* Adjust based on your bottombar height */
}

.map {
  flex: 1;
  transition: margin 0.3s ease;
}
