.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 20px;
  background-color: transparent;
  width: 260px;

}

.info-row {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between items */
}

.info-item {
  text-align: center;
}

.info-number {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: #333; /* Dark gray text */
}

.info-label {
  font-size: 12px;
  margin: 5px 0 0 0;
  color: #666; /* Lighter gray for labels */
}
