.data-summary {
  display: flex;
  flex-direction: column; /* Stack sections vertically */
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: blanchedalmond;
}

.data-summary-section,
.source-breakdown-section {
  width: 100%; /* Full width for each section */
  text-align: left;
  margin-bottom: 5px; /* Add spacing between sections */
}

.data-summary-title,
.source-breakdown-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

.data-summary-total,
.data-summary-filtered,
.source-breakdown-reddit,
.source-breakdown-straitstimes,
.source-breakdown-cna {
  margin: 2px 0;
  font-size: 13px;
  padding-left: 20px;

}

.data-summary-total-value,
.data-summary-filtered-value,
.source-breakdown-value {
  color: #333;
  font-weight: bold;
  font-size: 13px;
  padding-left: 3px;
}
